/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
* {
  box-sizing: border-box;
}

html {
margin: 0;
padding: 0;
}

body {
width: 100%;
margin: 0;
padding: 0;
background-color: black;
color: white;
font-family: sans-serif;
}

a {
color: inherit;
text-decoration: inherit;
}

/* Creating the constant header */

header {
font-family: monospace;
color: white;
display: flex;
width: 100%;
max-height: 150px;
position: fixed;
top: 0;
margin: 0;
background-color: black;
border-bottom: 2px solid white;
z-index: 2;
}

.headerMain {
display: inherit;
}

.portraitBox {
height: 150px;
margin: 0;
padding: 0;
position: relative;
}

#headShot {
height: 150px;
}

header li {
list-style-type: none;
}

#nameBox {
position: absolute;
top: 0;
right: -150px;
font-family: monospace;
}

/* Navigation */

nav {
color: white;
width: 100%;
display: flex;
flex-direction: row;
justify-content: flex-end;

}

nav a {
border-top: 2px solid;
border-left: 2px solid;
background-color: black;
}

/* Nav hover behavior */
nav a:hover, nav a.currentPage {
background-color: #333;
}

nav ul {
display: flex;
position: relative;
align-items: flex-end;
margin: 0;
}

nav li {
padding-right: 2px;
padding-left: 2px;
margin: 0;
bottom: 0;
}

nav h3 {
margin-inline-start: 1em;
margin-inline-end: 1em;
}
/* Padding behind the constant header (from stack overflow) */
.headerPad {
display: block;
height: 150px;
/* margin-top: -150px; */
visibility: hidden;
}

/* Content Cards */

main { 
display: flex;
flex-direction: column;
margin-top: 150px;
}

/* The greater section each subsection resides in */
.cardSec { 
display: flex;
width: 100%;
margin: 25px 0 0;
min-height: 250px;
}

/* The section headings */
.sideTitle { 
align-self: flex-start;
align-content: stretch;
text-align: center;
min-width: 150px;
border-right: 1px solid white;
border-bottom: 1px solid white;
padding: 12px 0;
}

.sideTitle h2 {
font-family: monospace;
display: inline;
color: white;
}

/* The main content in each section */
.cardContent {
margin: 0 25px 0 50px;
display: flex;
flex-flow: row wrap;
width: 100%;
}

/* About Me section styling */
#aboutMe .cardContent {
background-color: white;
color: black;
border-style: hidden;
border-radius: 10px;
padding: 50px;
}

/* My Work section */

.card {
 flex: 25%;
 height: 155px;
 border: 3px double white;
 border-radius: 10px;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center center;
 margin-top: 10px;
 position: relative;
}

.card:hover .cardTitle {
color: black;
background-color: white;
border-right: 1px solid black;
border-bottom: 1px solid black;
}

#myWork .cardContent {
justify-content: space-between;
}

/* Uniquely styles the first link in the My Work section */
#myWork a:first-child {
flex: 0 0 100%;
height: 238px;
margin: 0;
}



.cardTitle {
background-color: black;
border-right: 1px solid white;
border-bottom: 1px solid white;
border-top-left-radius: 7px;
border-bottom-right-radius: 7px;
padding: 5px 10px;
position: absolute;
top: auto;
left: auto;
}

.gitHub {
background-color: black;
border-right: 1px solid white;
border-top: 1px solid white;
border-bottom-left-radius: 7px;
padding: 5px 0px;
position: absolute;
bottom: 0;
left: auto;
background-image: url("./assets/images/GitHub-Mark-Light-120px-plus.png");
background-repeat: no-repeat;
background-size: 27px auto;
background-position: 7px;
border-top-right-radius: 7px;
}

.gitHub a {
padding: 5px 20px;
margin: 0;
}

.gitHub:hover {
color: black;
background-color: white;
background-image: url("./assets/images/GitHub-Mark-120px-plus.png");
border-right: 1px solid black;
border-top: 1px solid black;
}

.gitHub:hover ~ .cardTitle{
color: white;
background-color: #333;
border-right: 1px solid white;
border-bottom: 1px solid white;
}

#workList > a {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/* #interActor {
background-image: url("./assets/images/InterActorPic.png");
-webkit-filter: grayscale(100%);
filter: grayscale(100%);
}

#readmeGenerator {
background-image: url("./assets/images/README\ Example.gif");
-webkit-filter: grayscale(100%);
filter: grayscale(100%);
}

#eCommerceBackEnd {
background-image: url("./assets/images/E-Commerce\ Back\ End.gif");
-webkit-filter: grayscale(100%);
filter: grayscale(100%);
}

#noteTaker {
background-image: url("./assets/images/NoteTakerPic.png");
-webkit-filter: grayscale(100%);
filter: grayscale(100%);
}

#weatherDashboard {
background-image: url("./assets/images/WeatherDashboardPic.png");
-webkit-filter: grayscale(100%);
filter: grayscale(100%);
} */

/* Coming Soon placeholder */
.comingSoon {
background-image: url("./assets/images/comingsoon.png");
}

/* Contact Me section styling */
#contactMe .cardContent {
font-family: monospace;
align-self: center;
/* justify-content: space-around; */
}

#contactMe .cardContent h3 {
/* border-left: 2px solid white;
border-right: 2px solid white; */
padding: 2px;
margin: 0 auto;
}

/* Fixed footer styling */

footer {
/* display: inline; */
position: fixed;
bottom: 0;
right: 0;
background-color: black;
border-top: 1px solid white;
border-left: 1px solid white;
margin: 0;
padding-bottom: 4px;
height: 27px;
}

#footer {
  margin: 0 0 4px 0;
  display:inline-block;
  padding: 0 4px;
  overflow: auto;
}

footer img {
  height: 21px;
  margin: 4px 0;
}

footer a {
  margin: 0 4px;
}

/* Shuffle screen at different sizes */
@media screen and (max-width: 992px) {
#myWork a {
  flex: 33.33%;
}
}

@media screen and (max-width: 768px) {
#myWork a {
  flex: 50%;
}
}

/* Small smartphones */
@media screen and (max-width: 576px) {
header {
  flex-direction: column;
  border-bottom: none;
}

.headerPad {
  height: 200.41px;
}

nav ul {
  padding-inline-start: 0;
  flex: 100%;
  flex-wrap: wrap;
}

nav a {
  flex: 1;
  border-bottom: 1px solid white;
  text-align: center;
  white-space: nowrap;
}

#navAbout {
  border-left: none;
}

.cardSec {
  flex-direction: column;
  margin: 0;
}

.sideTitle {
  align-self: auto;
  border-right: none;
  border-top: 1px solid white;
  margin-bottom: 20px;
}

#aboutMe .sideTitle {
  border-top: none;
}

.cardContent {
  margin: auto;
  width: 90%
}

#myWork a {
  flex: 100%;
}
}

@media screen and (max-width: 335px) {

#nameBox {
  right: -127px;
}

#nameBox h1 {
  font-size: 1.75em;
}

.headerPad {
  height: 250.82px;
}

#navAbout {
  border-bottom: none;
}

#navWork {
  border-left: 1px solid white;
  border-bottom: none;
}

#navContact {
  border-top: 1px solid white;
  border-left: none;
}
}